@import "tailwindcss";

@theme {
  --font-serif: "Times New Roman", Times, serif;
  --font-sans: Roboto, sans-serif;

  --color-brand-50: #f0f9ff;
  --color-brand-100: #e0f2fe;
  --color-brand-500: #0ea5e9;
  --color-brand-700: #0369a1;
  --color-brand-900: #0c4a6e;
}
